/*.preloader {
    background-color: #141414;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index: 9999;
    position: absolute;

}
.preloader img {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    margin: auto;
}*/


.black_bg{
    padding: 20px;
    border-width: 5px;
    border-style: solid;

}
.white_bg{

    color: grey;
    padding: 20px;
    border-width: 5px;
    border-style: solid;

}

/* ---- base ---- */

html,body{
    width:100%;
    height:100%;
    background: #fff;


}


/*===========Nav Bar===========*/
/*
nav{
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    background: rgba(236,236,236,0.1);
}
nav ul{
    margin:0;
    height: 40px;
    text-align: center;
    overflow: hidden;

}
nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 15px;
*/

}
nav ul li:hover{
    background: blue;
    border-radius: 10px;
    color: white;
}
nav ul li:hover a{
    color: white;
    text-decoration: none;

}

active{
    background: #42d4f4;
    border-radius: 10px;
}
nav a{
    text-decoration: none;
    font-family: fontin;
    font-weight: bold;
    color: blue;
}


#home{
    background-image: url(../img/bg.png);
    width: 100%;
    height: 100vh;

}
/* ---- particles.js container ---- */
/*canvas {
    display: block;
    vertical-align: bottom;
}
#particles-js{
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}*/



/*===========Section===========*/

.section{
    font-size: 25pxpx;
    padding: 50px;
    overflow: hidden;
    width: 90%;
    margin: auto;
}
#me_img{
    margin: auto !important;
}
#me_img img{
    max-width: 200px;
    height: auto;
    z-index: 1000;
    margin: auto !important;

}
#me_txt{

    display:inline-block;
    text-align: left;

}
.heading{
    font-size: 40px;
    color: #a2a8a6;
    text-align: center;
}

.container{
    text-align: center !important;

}